extends layout

block content
    h1 Members only club 

    if user
        ul 
            a(href="/new-message") 
                li New Message
            a(href="/become-member") 
                li Become Member
            a(href="/become-admin")
                li Admin Mode 
            a(href="/log-out")
                li Log Out
    else 
        ul 
            a(href="/sign-up")
                li Sign Up 
            a(href="/log-in")
                li Log In  

    h2 Special club for members only 

    h3 Everybody can send messages 

    h4 Non-members can only see title and contents 

    h5 Only members can see the author and date


    if messages.length 
    if user && user.membership_status
        ul 
            each message in messages 
                li #{message.title}
                li #{message.content}
                li #{message.timestamp}
                li #{message.user.first_name} #{message.user.last_name}
    else if user && user.admin
        ul 
            each message in messages
                form(action="" method='POST')
                    input#messageid(type="hidden" name="id" value=message._id)
                    li #{message.title}
                    li #{message.content}
                    li #{message.timestamp}
                    li #{message.user.first_name} #{message.user.last_name}
                    button(type="submit") Delete



    else
        each message in messages 
            li #{message.title}
            li #{message.content}
