extends layout

block content

  div(class='main-content-container')
    h2 Special club for
      span#header  members only

    h3 Everybody can send
      span#subheader  messages 

    h4 Non-members can only see
      span#header  title and contents 

    h5 Only members can see the 
      span#header  author and date

    if messages.length 
    if user && user.membership_status
      div(class='message-container') 
        each message in messages
          div(class='message-content')
            p Title: #{message.title}
            p Content: #{message.content}
            p Date: #{message.timestamp}
            p User Name: #{message.user.first_name} #{message.user.last_name}
    else if user && user.admin
      div(class='message-container') 
        each message in messages
          div(class='message-content')
            form(action="" method='POST')
              input#messageid(type="hidden" name="id" value=message._id)
              p Title: #{message.title}
              p Content: #{message.content}
              p Date: #{message.timestamp}
              p User Name: #{message.user.first_name} #{message.user.last_name}
              button(type="submit" class='delete-msg-button') Delete Message
    else
      div(class='message-container') 
        each message in messages
          div(class='message-content')
            p Title: #{message.title}
            p Content: #{message.content}
